body{
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0;
    font-family: 'Poppins', sans-serif; 
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    border: 2px solid rgba(255, 255, 255, .7);
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
    border-radius: 25px;
    padding:30px;
}

h1{
    text-align: center;
    color: white;
    
}

#form button{
    background-color: black;
    color:white;
    border: 1px solid black;
    border-radius: 30px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

#form button:hover{
background-color: #fff;
color: black;
transform: scale(1.02);
border: 1px solid #fff;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 8px;
    background-color: transparent;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border: 2px solid rgba(255, 255, 255, .7);
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0cc477;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}